body {
    margin: 0;
    background-color: #111827;
}

.ball-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

h3{
    color: #EEEEEE ;
    font-weight: 700;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score-container {
    display: flex;
    width: 155px;
    height: 120px;
    background-color: #000000;
    border-radius: 5px;
    color: #F94F6D;
    align-items: center;
    justify-content: center;
    font-family: Cursed Timer ULiL, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90px;
    font-weight: 400;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
    padding-block: 25px;
}

.button {
    display: flex;
    width: 45px;
    height: 45px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: Cursed Timer ULiL, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;    
}

.button:hover, .newGame:hover{
    background-color: #F94F6D;
}

.newGame {
    display: flex;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #9AABD8;
    background-color: #111827;
    font-weight: 400;
    font-size: 1.25rem;
    border-radius: 10px;
    border: 2px solid #9AABD8;
    cursor: pointer;
}

